<h1>Photo Feed</h1>

<% @photos.each do |photo| %>
    <%= link_to photo_path(photo) do %>
    <img src="<%=  photo.image %>" alt=""></img>
    <% end %>
    <br><h3><%= photo.user.username %></h3><br>
    <h4><%= photo.description %></h4>
<% end %>






