/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.navbar.navbar-dark.bg-dark.fixed-top{
    box-shadow: 0 5px 5px -2px grey;
    opacity: 0.95;
}

.logo{
    color: whitesmoke;
    font-family: 'Permanent Marker', cursive;
}




.text-center{
    margin-top: 100px;
}

.polaroid{
    background: #ffffff;
    display: inline-block;
    margin: 55px 75px 30px;
    padding: 15px 15px 30px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
}

.polaroid:hover{
    color: lightgray;
    transform: scale(1.2);
    transition: ease .75s;
}
h1{
    font-family: 'Permanent Marker', cursive;
    
}






