/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.navbar.navbar-dark.bg-dark.fixed-top{
    box-shadow: 0 5px 5px -2px grey;
    opacity: 0.95;

    /* background-image: linear-gradient(#212529, whitesmoke); */
}

.logo{
    background: -webkit-linear-gradient(black, purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Permanent Marker', cursive;
}

a{
    background: -webkit-linear-gradient(black, purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

a:hover{
    transition: all .25s ease-in-out;
    font-size: larger;

}

body{
    background: -webkit-linear-gradient(white, whitesmoke) no-repeat;
}

.text-center{
    margin-top: 100px;
}

.polaroid{
    background: #ffffff;
    display: inline-block;
    margin: 55px 75px 30px;
    padding: 15px 15px 30px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
}

.polaroid:hover{
    color: lightgray;
    transform: scale(1.2);
    transition: all 1s ease-in-out;
}

h1{
    font-family: 'Permanent Marker', cursive;
}

.polaroid-show{
    background: #ffffff;
    display: block;
    margin: 100px 500px 30px;
    padding: 15px 15px 30px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);

}

.options{
    text-align: center;
}

.wrapper{
    background-color: lightgray;
    margin: 50px 50px 30px;
    opacity: 2.00;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
}
h3{
    font-family: 'Permanent Marker', cursive;

}
h4{
    font-family: 'Permanent Marker', cursive;

}

.comments-header{
     background-color: whitesmoke;
}






